@import 'tailwindcss';
@import '@fontsource-variable/spline-sans-mono';

@theme {
	--font-mono: 'Spline Sans Mono Variable', ui-monospace, monospace;
}

/* Markdown rendering in chat messages */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
	font-weight: 600;
	margin-top: 1em;
	margin-bottom: 0.5em;
	line-height: 1.3;
}

.markdown h1 {
	font-size: 1.25em;
}
.markdown h2 {
	font-size: 1.125em;
}
.markdown h3,
.markdown h4 {
	font-size: 1em;
}

.markdown p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.markdown p:first-child {
	margin-top: 0;
}

.markdown p:last-child {
	margin-bottom: 0;
}

.markdown ul,
.markdown ol {
	padding-left: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.markdown ul {
	list-style-type: disc;
}

.markdown ol {
	list-style-type: decimal;
}

.markdown li {
	margin-top: 0.25em;
}

.markdown code {
	font-family: var(--font-mono);
	font-size: 0.875em;
	background: rgb(82 82 91 / 0.5);
	padding: 0.2em 0.45em;
	border-radius: 0.375rem;
}

.markdown pre {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	padding: 0.75em 1em;
	background: rgb(24 24 27 / 0.8);
	border-radius: 0.375rem;
	overflow-x: auto;
}

.markdown pre code {
	background: none;
	padding: 0;
	font-size: 0.8125em;
}

.markdown blockquote {
	border-left: 3px solid rgb(113 113 122);
	padding-left: 0.75em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: rgb(161 161 170);
}

.markdown a {
	text-decoration: underline;
	text-underline-offset: 2px;
}

.markdown a:hover {
	color: white;
}

.markdown hr {
	border-color: rgb(63 63 70);
	margin-top: 1em;
	margin-bottom: 1em;
}

.markdown table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 0.875em;
}

.markdown th,
.markdown td {
	border: 1px solid rgb(63 63 70);
	padding: 0.375em 0.75em;
	text-align: left;
}

.markdown th {
	font-weight: 600;
	background: rgb(39 39 42 / 0.5);
}
